<link rel="stylesheet" href="/css/navbar.css">
<script src="https://kit.fontawesome.com/f6f38a44e9.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container-fluid">
        <a href="/"><img class="logo"
                src="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png"
                alt="logo">
        </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span ><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <form action="/products" id="search_form"  class="d-flex mx-auto" method="get">
                    <input hidden name="type" value="<%= query.type %>" />
                    <input hidden name="page" value="1" />
                    <input hidden name="category" value="<%= query.category %>" />
                    <input hidden name="lte" value="<%= 10000 %>" />
                    <input hidden name="gte" value="<%= 0 %>" />
                <div class="input-group">
                    <input id="nav_search" name="keyword" type="text" class="form-control" placeholder="Search For Products and More"
                        aria-label="Recipient's username" aria-describedby="button-addon2" value="<%= query.keyword %>" >
                    <div class="input-group-append">
                        <button class="btn" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a tabindex="1" class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <form id="form1" action="/products" method="get">
                            <input hidden name="page" value="1" />
                            <input hidden name="lte" value="<%= 10000 %>" />
                            <input hidden name="gte" value="<%= 0 %>" />
                            <input class="" id="q_buy" name="type" type="submit" value="sell" hidden>
                            <label for="q_buy">BUY</label>
                        </form>
                    </a>
                <li class="nav-item">
                    <a class="nav-link">
                    <form id="form2" action="/products" method="get">
                        <input hidden name="page" value="1" />
                        <input hidden name="lte" value="<%= 10000 %>" />
                        <input hidden name="gte" value="<%= 0 %>" />
                        <input class="" id="q_sell" name="type" type="submit" value="rent" hidden>
                        <label for="q_sell">RENT</label>
                    </form>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/new">SELL<span class="sr-only">(current)</span></a>
                </li>
                <% if (user==undefined) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">SIGN IN<span class="sr-only">(current)</span></a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOG OUT<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="/wishlist"> <i class="fas fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/<%= user.id %> "><i class="fas fa-user"></i></a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>
<script src="/js/navbar.js"></script>