<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Page</title>
    <link rel="icon" href="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/css/login.css" rel="stylesheet">
    <!-- FONT -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap"
        rel="stylesheet">

</head>

<body>

    <%- include('../partials/flash') %>
        <%- include('../partials/navbar') %>
            <div class="section">
                <div class="container">
                    <!-- <div class="row full-height justify-content-center">

                        <div class="col-12 text-center align-self-center py-5">
                            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                                <!-- <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label> -->
                                <!-- <h2 class="">BIT-MART</h2> -->
                                <div class="card-3d-wrap mx-auto">
                                    <div class="card-3d-wrapper">
                                        <div class="card-front">
                                            <div class="center-wrap">
                                                <div class="section text-center">
                                                    <form action="/users/<%=user.id%>?_method=PUT" method="post">
                                                        <h4 class="mb-4 pb-3">Edit Profile</h4>
                                                        <div class="form-group">
                                                            <input type="text" name="name" class="form-style"
                                                                placeholder="Your Full Name" id="name"
                                                                value="<%= user.name %> " autocomplete="off">
                                                            <i class="input-icon uil uil-user"></i>
                                                        </div>
                                                        <div class="form-group mt-2">
                                                            <input type="email" name="email" class="form-style"
                                                                placeholder="Your Email" id="email"
                                                                value="<%= user.email %> " autocomplete="off">
                                                            <i class="input-icon uil uil-at"></i>
                                                        </div>
                                                        <div class="form-group mt-2">
                                                            <input type="text" name="roll" class="form-style"
                                                                placeholder="Your Roll no." id="roll"
                                                                value="<%= user.roll %> " autocomplete="off">
                                                            <i class="input-icon uil uil-notes"></i>
                                                        </div>
                                                        <!-- <div class="form-group mt-2">
                                                            <input type="password" name="pass" class="form-style"
                                                                placeholder="Your Password" id="pass" autocomplete="off">
                                                            <i class="input-icon uil uil-lock-alt"></i>
                                                        </div> -->
                                                        <button class="b-btn mt-4">submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-style"
                                                    placeholder="Your Full Name" id="name" autocomplete="off">
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="email" class="form-style"
                                                    placeholder="Your Email" id="email" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="roll" class="form-style"
                                                    placeholder="Your Roll no." id="roll" autocomplete="off">
                                                <i class="input-icon uil uil-notes"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="pass" class="form-style"
                                                    placeholder="Your Password" id="pass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <a href="#" class="b-btn mt-4">submit</a>
                                        </div>
                                    </div>
                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partials/footer') %> 
                <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script> -->
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                    crossorigin="anonymous"></script>
</body>

</html>