<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/profile.css">
<%- include("partials/header2"); -%>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/uploads/<%=result_user.img%>" alt="" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4> <%=result_user.username%> </h4>
                                <p class="text-secondary mb-1"><%=result_user.designation%></p>
                                <p class="text-muted font-size-sm"><%=result_user.institute%></p>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <h6>Bookmarked Articles</h6><hr>
                            <% for(var i=result_user.resources.length-1; i>=0; i--){ %>
                                <a href="/resources/<%=result_user.resources[i]._id%>">
                                    <%= result_user.resources[i].title %>
                                </a><br>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row gutters-sm">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6>Portfolio</h6><hr>
                            <p><%=result_user.portfolio%></p>
                            <a href="/profile/edit"><button type="submit" class="btn btn-md btn-success">Edit</button></a>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>My Articles</h6><hr>
                                <% for(var i=result_res.length-1; i>=0; i--){ %>
                                    <a href="/resources/<%=result_res[i]._id%>">
                                        <%= result_res[i].title %>
                                    </a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>My Experiences</h6><hr>
                                <% for(var i=result_exp.length-1; i>=0; i--){ %>
                                    <a href="/internship/<%=result_exp[i]._id%>">
                                        <%= result_exp[i].company %>
                                    </a><br>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer"); -%>