<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/resources_view.css">
<%- include("partials/header2"); -%>

<div class="container">
    <div class="contents">
        <h3>
            <%= result.title %>
        </h3>
        </a>
        <p>
            <%= result.content %>
        </p>
        <a href="/user/<%=result.author%>">
            <%= result.author %>
        </a>
    </div>
</div>

<%- include("partials/footer"); -%>