<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/internship.css">;
</head>
<body>
     <!----header-->
     <br>
     <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark">
            <a id="logo" class="navbar-brand" href="/">Student-Hub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/helpdesk">Helpdesk</a>
                </li>
              </ul>
              <% if (bool) { %>
                <a href="/profile">
                  <button type="button" class="btn btn-lg btn-success"><i class="fas fa-user-circle"></i></button>
                </a>
                <h1>::</h1>
                <a href="/signin">
                  <button type="button" class="btn-lg btn-warning">Logout</button>
                </a>
              <% } else { %> 
                <a href="/signup">
                  <button type="button" class="btn btn-lg btn-success">Signup/ Login</button>
                </a>
              <% } %>
            </div>
        </nav>
         
        <div class ="banner">
             <div class ="container">
                 <h1 class ="banner-title">
                     <span>Interview Experiences </span>
                     </h1>
                     <p>everything you want to know about job interviews</p>
                     <div class="input-group">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" onkeyup="showResults(this.value)"/>
                  </div>
                  <div id="livesearch" class="hide"></div>
             </div>
         </div>
         </header>
         <center>
         <section class = "blog" id="blog">
             
            <div class ="container">
                <div class ="title">
                    <centre>
                        <h1>
                            Latest blogs
                        </h1>
                        <p> recent blogs about interview experiences.</p>
                    </centre>
                </div>
                <a href="/internship/write"><button type="button" class="btn btn-info write">Add your own Interview experience</button></a>
                <div class = "blog-content">
                    <%for(var i=result.length-1; i>=0; i--) { %>
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="/uploads/<%= result[i].img %>" alt="Author Image" style="height: 18rem ; width: 18rem;overflow: hidden;">
                          <div class="card-body">
                            <h6> <%=result[i].date%> </h6>
                            <h5 class="card-title"><%=result[i].title%></h5>
                            <h5 class="card-title"><%=result[i].company%></h5>
                            <p class="card-text"><%=result[i].author%></p>
                            <a href="/internship/<%=result[i]._id%>" class="btn btn-primary">Read</a>
                          </div>
                        </div>
                    <%  } %>   
                </div>
            </div>
        </section>
        </center>
        <script>
            function showResults(str){
              if(str.length === 0){
                $("#livesearch").addClass("hide")
              } else {
                $("#livesearch").removeClass("hide")
              }
              $.ajax({
                url: "/internship",
                type: "POST",
                dataType: "json",
                data: {
                  query: str
                },
                success: function(result){
                  $("#livesearch").html(result.response )
                }
                });
            }
        </script>
    </body>
</html>