<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/resources.css">
<%- include("partials/header2"); -%>

<div class="container">
    <div class="col content">
      <%for(var i=result_res.length-1; i>=0; i--) { %>
        <a href="/resources/<%=result_res[i]._id%>">
          <div class="card text-white mb-3" style="width: 15rem; height: 13rem;">
              <div class="card-header"><%= result_res[i].title %></div>
              <% if(bool){ %>
                <% var flag = false %>
                <% for(var j=res_user.resources.length-1; j>=0; j--){ %>
                  <% if(res_user.resources[j].id == result_res[i]._id){ %>
                    <% flag = true %>
                  <% } %>
                <% } %>
                <% if(flag){ %>
                    <input id="<%=result_res[i]._id%>" class="card-header" type="checkbox" data-toggle="toggle" onchange="bookmark(this)" checked>
                    <span class="card-text">Bookmark</span>
                  
                <% } else {%>
                    <input id="<%=result_res[i]._id%>" class="card-header" type="checkbox" data-toggle="toggle" onchange="bookmark(this)">
                    <span class="card-text">Bookmark</span>
                  <% } %>
                <% } %>
              <div class="card-body">
                <p class="card-text" style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 30ch;"><%= result_res[i].content %></p>
                <p class="card-text"> <%=result_res[i].date%> </p>
              </div>
            </div>
        </a>
      <%  } %>
    </div>
    <div class="col search">
        <form action="/resources" method="post">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" onkeyup="showResults(this.value)"/>
            <button type="button" class="btn btn-outline-primary">search</button><br>
        </div>
        </form>
        <div id="livesearch" class="hide"></div>
        <p class="search-guide"><em>Search articles, tags or names</em></p>
        <div class="popular-topics">
            <div>
                <h5>Popular Resources</h5>
            </div>
            <ul>
              <%for(var i=0; i<result.length; i++) { %>
                <% if(i<5){ %>
                  <a class="popular-list" href="/resources/<%=result_res[i]._id%>"><%=result[i].title%></a>
                <% } %>
              <% } %>
            </ul>
        </div>
        <div class="article-options">
            <a href="/resources/write">
              <div class="add-button">
                <button type="button" class="btn btn-lg btn-primary">Write</button>
              </div>
            </a>
        </div>
    </div>
</div>
<script>
  function bookmark(val){
    let clicked_id = val.id;
    let status = $('#' + clicked_id).is(":checked");
    var str_data = '<%-JSON.stringify(result_res)%>'
    var parsed_data = JSON.parse(str_data)
    var title = ""
    for (var i=parsed_data.length-1; i>=0; i--) {
        if(parsed_data[i]._id == clicked_id){
          title = parsed_data[i].title
        }
     }
      if(status == true){
        $.ajax({
        url: "http://localhost:3000/resources",
        type: "POST",
        dataType: "json",
        data: {
          clicked_id: clicked_id,
          status: status,
          title: title
        },
        success: function(d, s) {
          console.log(d)
        }
        });
      } else {
        $.ajax({
        url: "/resources",
        type: "POST",
        dataType: "json",
        data: {
          clicked_id: clicked_id,
          status: status,
          title: title
        },
        success: function(d, s) {
          console.log(d)
        }
        });
      } 
    }
    function showResults(str){
      if(str.length === 0){
        $("#livesearch").addClass("hide")
      } else {
        $("#livesearch").removeClass("hide")
      }
      $.ajax({
        url: "/resources/search",
        type: "POST",
        dataType: "json",
        data: {
          query: str
        },
        success: function(result){
          $("#livesearch").html(result.response )
        }
        });
    }
</script>
</body>
</html>