<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="icon" href="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="/css/cart.css" rel="stylesheet">
    <!-- FONT -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap"
        rel="stylesheet">

</head>

<body>
    <%- include('../partials/flash') %>
        <%- include('../partials/navbar') %>
        <%- include('../partials/backtotop') %> 
            <div class="container" style="min-height: 100vh;">
                <h1 style="color: #45ccb8;"> Products List</h1>
                <div class="cart">
                    <div class="products">
                        <% if (products.length) { %>
                        <% for( let index=0;index<Math.min(orders,products.length);index++ ) { %>
                            <div class="product" id="<%= index+1 %> ">
                                <img src="<%= products[index].images[0].url %> ">
                                <div class="product-info">
                                    <h3 class="product-name">
                                        <%= products[index].name %>
                                    </h3>
                                    <h4 class="product-price">
                                        <%= products[index].price %>
                                    </h4>
                                    <br>
                                    <div class="product-remove">
                                        <a class="mr-3" href="/products/<%=products[index].id%> "><button
                                                class="b-btn"><i class="fas fa-eye"></i>View</button></a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% } else { %>
                                <h2 style="text-align: center; color: #ffeba7;" class="my-5">Sorry, You have no products</h2>
                                <img src="https://res.cloudinary.com/dewansh/image/upload/v1641390675/BitMart/Products/b1-removebg-preview_j0b84g.png" class="img-fluid text-center" style="height: 60vh; text-align: center;">
                              <% } %>
                            <nav aria-label="Page navigation example">
                                <% if (products.length) { %>
                                    <p class="text-center" style="color: #ffeba7;"><%= Math.min(orders,products.length) %>/<%= products.length%> </p>
                                <% } %>
                                <ul class="pagination justify-content-center">
                                  <form action="/products/my" method="get">
                                    <li class="page-item disabled">
                                      <% if (orders<products.length) { %>
                                        <label class="b-btn mx-2" for="prev">View More</label>
                                        <input id="prev" type="submit" name="orders" value="<%= orders+2%> " hidden>
                                        <% } %>
                                          <!-- <a class="page-link" href="#" tabindex="-1">Previous</a> -->
                                    </li>
                                </ul>
                              </nav>
                    </div>
                </div>
            </div>
            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
                crossorigin="anonymous"></script>
            <script src="/js/sell.js"></script>
            <%- include('../partials/footer') %>
</body>

</html>