<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products</title>
  <link rel="icon" href="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png">
</head>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/f6f38a44e9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/product.css" />
<body>
  <!-- <header> -->
  <%- include('../partials/navbar') %>
  <%- include('../partials/backtotop') %> 
    <!-- </header> -->
    <main style="min-height: 100vh;">
      <h2 class="productsHeading text-center">Products</h2>
      <div class="products">
        <div class="filterBox">
            <div class="wrapper">
              <form action="/products" method="get">
              <header>
                <h2>Price Range</h2>
                <p>Use slider or enter min and max price</p>
              </header>
              <div class="price-input">
                <div class="field">
                  <span style="color: #45ccb8;">Min</span>
                  <input type="number" class="input-min" value="<%= query.gte %>" />
                </div>
                <div class="separator">-</div>
                <div class="field">
                  <span style="color: #45ccb8;">Max</span>
                  <input type="number" class="input-max" value="<%= query.lte %>" />
                </div>
              </div>
              <div class="slider">
                
                <div class="progress" style="left: <%= left %> ; right: <%= right %> ;"></div>
              </div>
              <div class="range-input">
                <input name="gte" type="range" class="range-min" min="0" max="10000" id="rangeMin" value="<%= query.gte %>" step="100" />
                <input name="lte" type="range" class="range-max" min="0" max="10000" id="rangeMax" value="<%= query.lte %>" step="100" />
                <input hidden name="type" value="<%= query.type%>" />
                <input hidden name="page" value="1" />
                <input hidden name="keyword" value="<%= query.keyword %>" />
                <input hidden name="category" value="<%= query.category %>" />
              </div>
              <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="b-btn" type="submit">Apply</button>
              </div>
            </form>
            </div>
            <div class="category-box d-flex flex-column justify-content-center align-items-center">
              <h3 class="text-center">Filter</h3>
              <form action="/products" method="get">
                <input hidden name="category" value="<%= query.category %>" />
                <input hidden name="page" value="1" />
                <input hidden name="keyword" value="<%= query.keyword %>" />
                <input hidden name="lte" value="<%= query.lte %>" />
                <input hidden name="gte" value="<%= query.gte %>" />
              <ul class="categoryBox">
                <div class="row">
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.type!=undefined && query.type.includes('sell')) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_sell" name="type"
                          type="checkbox" value="sell" checked>
                        <label class="form-check-label question__label" for="q_4_sell">BUY</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_sell" name="type"
                          type="checkbox" value="sell">
                        <label class="form-check-label question__label" for="q_4_sell">BUY</label>
                        <% } %>
                      </div>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.type!=undefined && query.type.includes('rent')) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_rent" name="type"
                          type="checkbox" value="rent" checked>
                        <label class="form-check-label question__label" for="q_4_rent">RENT</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_rent" name="type"
                          type="checkbox" value="rent">
                        <label class="form-check-label question__label" for="q_4_rent">RENT</label>
                        <% } %>
                      </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4">
                  <button class="b-btn" type="submit">Apply</button>
                </div>
              </ul>
              </form>
            </div>
            <div class="category-box d-flex flex-column justify-content-center align-items-center">
              <h3 class="text-center">Categories</h3>
              <form action="/products" method="get">
                  <input hidden name="type" value="<%= query.type %>" />
                  <input hidden name="page" value="1" />
                  <input hidden name="keyword" value="<%= query.keyword %>" />
                  <input hidden name="lte" value="<%= query.lte %>" />
                  <input hidden name="gte" value="<%= query.gte %>" />
              <ul class="categoryBox">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.category!=undefined && query.category.includes('Laptops & Mobiles')==true) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_laptop" name="category"
                          type="checkbox" value="Laptops & Mobiles" checked>
                        <label class="form-check-label question__label" for="q_4_laptop">Laptops & Mobiles</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_laptop" name="category"
                          type="checkbox" value="Laptops & Mobiles">
                        <label class="form-check-label question__label" for="q_4_laptop">Laptops & Mobiles</label>
                        <% } %>
                      </div>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.category!=undefined &&  query.category.includes('Books')==true) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_books" name="category"
                          type="checkbox" value="Books" checked>
                        <label class="form-check-label question__label" for="q_4_books">Books</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_books" name="category"
                          type="checkbox" value="Books">
                        <label class="form-check-label question__label" for="q_4_books">Books</label>
                        <% } %>
                      </div>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <% if (query.category!=undefined && query.category.includes('Electrical devices')==true) { %>
                        <input class="form-check-input question__input q-checkbox" id="q_4_electrical" name="category"
                        type="checkbox" value="Electrical devices" checked>
                      <label class="form-check-label question__label" for="q_4_electrical">Electrical devices</label>
                       <% } else { %>
                        <input class="form-check-input question__input q-checkbox" id="q_4_electrical" name="category"
                        type="checkbox" value="Electrical devices">
                      <label class="form-check-label question__label" for="q_4_electrical">Electrical devices</label>
                      <% } %>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <% if (query.category!=undefined && query.category.includes('Furniture')==true) { %>
                        <input class="form-check-input question__input q-checkbox" id="q_4_furniture" name="category"
                        type="checkbox" value="Furniture" checked>
                      <label class="form-check-label question__label" for="q_4_furniture">Furniture</label>
                       <% } else { %>
                        <input class="form-check-input question__input q-checkbox" id="q_4_furniture" name="category"
                        type="checkbox" value="Furniture">
                      <label class="form-check-label question__label" for="q_4_furniture">Furniture</label>
                      <% } %>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.category!=undefined && query.category.includes('Fashion')==true) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_fashion" name="category"
                          type="checkbox" value="Fashion" checked>
                        <label class="form-check-label question__label" for="q_4_fashion">Fashion</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_fashion" name="category"
                          type="checkbox" value="Fashion">
                        <label class="form-check-label question__label" for="q_4_fashion">Fashion</label>
                        <% } %>
                      </div>
                    </div>
                    <div class="form-check ps-0 q-box my-3">
                      <div class="q-box__question">
                        <% if (query.category!=undefined && query.category.includes('Sports gear')==true) { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_sports" name="category"
                          type="checkbox" value="Sports gear" checked>
                        <label class="form-check-label question__label" for="q_4_sports">Sports gear</label>
                         <% } else { %>
                          <input class="form-check-input question__input q-checkbox" id="q_4_sports" name="category"
                          type="checkbox" value="Sports gear">
                        <label class="form-check-label question__label" for="q_4_sports">Sports gear</label>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4">
                  <button class="b-btn" type="submit">Apply</button>
                </div>
              </ul>
            </form>
            </div>
        </div>
        <div class="pd-layout">
          <div class="product-layout">
            <% for( let index=(page-1)*6;index<Math.min(page*6,products.length);index++ ) { %>
              <div class="product">
                <div class="img-container">
                  <a href="/products/<%= products[index].id %> "><img src="<%=products[index].images[0].url  %> "
                      alt=""></a>
                  <div class="addCart">
                    <form action="/cart/<%= products[index].id %> " method="get">
                      <button class="btn"><i class="fas fa-shopping-cart"></i></button>
                    </form>
                  </div>
                  <ul class="side-icons">
                    <form class="mb-2" action="/search" method="get">
                      <button class="btn"><span><i class="fas fa-search"></i></span></button>
                    </form>
                    <form class="mt-2" action="/wishlist/<%= products[index].id %> " method="get">
                      <button class="btn"><span><i class="fas fa-heart"></i></span></button>
                    </form>
                    <!-- <span><i class="fas fa-sliders-h"></i></span> -->
                  </ul>
                </div>
                <div class="bottom d-flex">
                  <div class="content">
                    <a href="/products/<%= products[index].id %> ">
                      <%= products[index].name %>
                    </a>
                  <!-- <button type="button" class="btn btn-outline-danger">Sell</button> -->
                  <div class="price">
                    <span><i class="fab fa-bitcoin"></i><%= products[index].price %></span>
                  </div>
                </div>
                <div class="content-r">
                  <button type="button" class="tag btn btn-outline-danger"><%= products[index].type.charAt(0).toUpperCase() + products[index].type.slice(1)%> </button>
                </div>
                </div>
              </div>
              <% } %>
          </div>
          <nav aria-label="Page navigation example" class="my-5">
            <p class="text-center" style="color: #ffeba7;"><%= page%>/<%= Math.ceil(mxLength/6) %> </p>
            <ul class="pagination justify-content-center">
              <form action="" class="form-products" method="get">
                <li class="page-item disabled">
                  <% if (page>1) { %>
                    <label class="b-btn mx-2" for="prev">Previous</label>
                    <input hidden name="type" value="<%= query.type%>" />
                    <input id="prev" hidden type="submit" name="page" value="<%= page-1 %>" />
                    <input hidden name="keyword" value="<%= query.keyword%>" />
                    <input hidden name="gte" value="<%= query.gte%>" />" 
                    <input hidden name="lte" value="<%= query.lte%>" />
                    <input hidden name="category" value="<%= query.category %>"/>
                    
                    <% } %>
                      <!-- <a class="page-link" href="#" tabindex="-1">Previous</a> -->
                </li>
    
              </form>
              <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <form action="/products" method="get" class="form-products">
                <li class="page-item">
                  <% if (page<mxLength/6) { %>
                    <label class="b-btn mx-2" for="next">Next</label>
                    <input hidden name="type" value="<%= query.type%>" />
                    <input id="next" hidden type="submit" name="page" value="<%= page+1 %>" />
                    <input hidden name="keyword" value="<%= query.keyword%>" />
                    <input hidden name="gte" value="<%= query.gte%>" />" 
                    <input hidden name="lte" value="<%= query.lte%>" />
                    <input hidden name="category" value="<%= query.category %>"/>
                    <% } %>
    
                      <!-- <a class="page-link" href="#" tabindex="+1">Next</a> -->
                </li>
              </form>
            </ul>
          </nav>
        </div>
      </div>
      
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"></script>
    <script src="/js/product.js"></script>
    <%- include('../partials/footer') %>
</body>

</html>